body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 15px 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 20vw;
    float: left;
    padding-left: 2vw;
    display: block;
    margin: auto;
}

.nav-menu {
    position: absolute;
    display: flex;
    gap: 2vw;
    right: 5vw;
}

.nav-menu .a {
    margin: 0;
    color: #333;
    cursor: pointer;
    position: relative;
    padding: 00px 0;
}

.nav-menu .a:hover {
    color: #dc3545;
}

.nav-menu .a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 5px;
    left: 0;
    background-color: #dc3545;
    transition: width 0.3s;
}

.nav-menu .a:hover:after {
    width: 100%;
}

.banner-container {
    position: relative;
    margin-top: 0;
}

a {
    text-decoration: none;
    font-size: calc(.5rem + .5vw);
    font-weight: 500;
}